body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, sans-serif;
  /* background-color: rgb(9, 3, 25); */
  background: linear-gradient(150deg, #08080e, #081f4e);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.4s ease, color 0.4s ease;
  padding-top: calc(var(--topnav-height) + var(--topnav-gap) + 10px);

}



html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}


* {
  box-sizing: border-box;
}

:root {
  --topnav-height: 70px; 
  --topnav-gap: 25px;  
}


/* pembatas */
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.section-title {
  color: white;
  margin: 0;
}

.section-divider {
  width: 90%;
  margin-top: 40px;
  margin-bottom: -10px;
}

/* STATE AWAL (sembunyi) */
.section-header,
.section-divider {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease;
}

/* STATE SAAT MUNCUL */
.section-header.show,
.section-divider.show {
  opacity: 1;
  transform: translateY(0);
}



/* ================= NAVIGASI ================= */

.topnav {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -150%);
  width: calc(100% - 50px);
  padding: 10px 19px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease, opacity 0.6s ease;

  opacity: 0;
  z-index: 9999;
}




.topnav.scrolled {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 15px rgba(255, 255, 0, 0.15);
}

/* --- glass navbar --- */
.topnav {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 5px); 
  max-width: 1300px;      

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 25px;
  border-radius: 1px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}



/* sembunyi / geser ke atas */
.topnav.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

.topnav.hide {
  transform: translate(-50%, -150%);
  opacity: 0;
}



/* --- NAV LINK BASE --- */
.topnav a,
.dropbtn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;

  font-family: inherit;
  font-size: 17px;
  font-weight: normal;
  color: white;

  padding: 14px 16px;
  margin: 0 10px;

  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}



/* ----------------------------------------------------------------------- */

/* --- UNDERLINE ONLY --- */
.nav-menu a::after,
.dropbtn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 70%;
  height: 3px;
  background: yellow;
  border-radius: 2px;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease;
}

.nav-menu a:hover::after,
.nav-menu a.active::after,
.dropdown:hover .dropbtn::after,
.dropdown.active .dropbtn::after {
  transform: translateX(-50%) scaleX(1);
}


/* aniamasi menu */
.nav-menu a,
.dropbtn {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    transform 0.45s cubic-bezier(.4,0,.2,1),
    opacity 0.35s ease;
}

.topnav.show .nav-menu a,
.topnav.show .dropbtn {
  opacity: 1;
  transform: translateY(0);
}

.nav-menu a:nth-child(1) { transition-delay: 0.05s; }
.nav-menu a:nth-child(2) { transition-delay: 0.12s; }
.nav-menu a:nth-child(3) { transition-delay: 0.19s; }
.nav-menu a:nth-child(4) { transition-delay: 0.26s; }

.dropdown .dropbtn {
  transition-delay: 0.33s;
}


/* ----------------------------------------------------------------------- */

/* --- NAV MENU --- */
.nav-menu {
  display: flex;
  align-items: center;
}

/* --- HAMBURGER --- */
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: yellow;

  transition: transform 0.3s ease, opacity 0.2s ease;
}

.hamburger:active {
  transform: rotate(90deg) scale(1.1);
}

/* ================= DROPDOWN ================= */
.dropdown {
  position: relative;
}

/* tombol */
.dropbtn {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  padding: 14px 16px;
}

/* underline */
.dropbtn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 0;
  height: 3px;
  background: yellow;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

/* garis tetap hidup selama dropdown aktif */
.dropdown:hover .dropbtn::after,
.dropdown.active .dropbtn::after {
  width: 60%;
  
}

/* dropdown menu */
.dropdown-content {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  min-width: 180px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,.35);
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: 0.25s ease;
  z-index: 999;
  
}

/* tampil */
.dropdown:hover .dropdown-content,
.dropdown.active .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* item menu */
.dropdown-content a {
  display: block;
  padding: 12px 18px;
  color: white;
  text-decoration: none;
  transition: background 0.25s ease, padding-left 0.25s ease;
}



/* --- ARROW --- */
.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid white;
}

/* --- MOBILE --- */
/* desktop */
@media (min-width: 769px) {
  .hamburger {
    transition: transform 0.3s ease;
  }

  .hamburger:active {
    transform: rotate(90deg);
  }
}

/* mobile */
@media (max-width: 768px) {
  .hamburger {
    transition: none;
  }
}



@media (max-width: 768px) {

  .hamburger {
    display: block;
    margin-right: auto;
  }


  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-menu.show {
    max-height: 500px;
  }

  /* dropdown mobile */
  .dropdown-content {
    position: relative;
    box-shadow: none;
    padding-left: 20px;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .dropdown-content.show {
    max-height: 300px;
  }
}

@media (max-width: 768px) {
  .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}



/* <!-----------------------------------------CONTENT --------------------------------------------------------> */

.cv-bar {
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cv-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  border-radius: 14px;
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
}


.cv-item.latest {
  border: 1.5px solid yellow;
}

.cv-text {
  font-weight: 600;
  color: white;
}

.cv-year {
  font-size: 0.85rem;
  opacity: 0.7;
  color: white;
}

.cv-tag {
  background: yellow;
  color: #000;
  font-size: 0.65rem;
  font-weight: 700;
  padding: 3px 10px;
  border-radius: 20px;
}


 /* BUTTON */
.cv-item a {
  padding: 6px 16px;
  font-size: 0.85rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  background: yellow;
  color: #000;

  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}

.cv-item a:hover {
  transform: translateY(-3px);
  background: #ffd700;
  box-shadow: 0 5px 10px rgba(77, 163, 255, 0.6);
}

@media (max-width: 768px) {
  .cv-item a:hover {
    transform: none;
    box-shadow: none;
  }

  .cv-item a:active {
    transform: scale(0.96);
    box-shadow: 0 5px 10px rgba(77, 163, 255, 0.6);
  }
}



  /* HOVER DIGANTI FEEL TAP */
  .cv-item:hover {
    transform: none;       
    border-radius: 15px;
  }

  /* ANIMASI SCROLL LEBIH HALUS */
  .cv-item {
    transform: translateY(20px);
  }


/* AWAL:  */
.cv-item {
  opacity: 0;
  transform: translateY(30px);
}

/* SAAT MUNCUL */
.cv-item.show {
  opacity: 1;
  transform: translateY(0);
  transition: 
    opacity 0.6s ease,
    transform 0.6s ease;
}

/* DELAY BERTAHAP */
.cv-item:nth-child(1) { transition-delay: 0.1s; }
.cv-item:nth-child(2) { transition-delay: 0.25s; }
.cv-item:nth-child(3) { transition-delay: 0.4s; }


/* mobile responsive */

@media (max-width: 480px) {

  .cv-bar {
    gap: 12px;
    padding-bottom: 50px;
  }

  .cv-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    padding: 14px 16px;
    border-radius: 14px;

    /* scroll animation base */
    opacity: 0;
    transform: translateY(20px);
  }

  .cv-item.show {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .cv-text {
    font-size: 0.95rem;
  }

  .cv-year {
    font-size: 0.8rem;
    opacity: 0.75;
  }

  .cv-tag {
    font-size: 0.6rem;
    padding: 3px 10px;
  }

  .cv-item a {
    align-self: flex-end;
    padding: 8px 18px;
    font-size: 0.8rem;
    border-radius: 10px;
  }

  /* mobile tap feel */
  .cv-item:active {
    transform: scale(0.97);
    box-shadow: 0 6px 14px rgba(255,255,0,0.25);
  }
}




/* ================= FOOTER ================= */

.footer {
  margin-top: 30px;
  padding: 20px 20px 20px;
  text-align: center;
  background: linear-gradient(180deg, #081f4e, #040b1f);

}

.footer-copy {
  font-size: 0.9rem;
  color: #b5c7ff;
  opacity: 0.8;
}


@media (max-width: 480px) {
  .footer-title {
    font-size: 1.6rem;
  }

  .footer-social a {
    font-size: 1.5rem;
  }
}